<div>
    <p></p>
    <h3>Каталог товаров</h3>
    <p></p>

    <h3>Фильтр по цене</h3>
    <form novalidate class="was-validated row" ng-submit="loadProducts()">
        <div class="mb-3 col">
            <label for="filterTitle" class="form-label">Название продукта</label>
            <input type="text" class="form-control" id="filterTitle" value="" required="" placeholder="Название"
                   ng-model="filter.title_part">
        </div>
        <div class="mb-3 col">
            <label for="filterMinPrice" class="form-label">Мин. цена</label>
            <input type="number" class="form-control" id="filterMinPrice" value="" required="" placeholder="0.0"
                   step="0.01" min="0" max="100000000" ng-model="filter.min_price">
        </div>

        <div class="mb-3 col">
            <label for="filterMaxPrice" class="form-label">Макс. цена</label>
            <input type="number" class="form-control" id="filterMaxPrice" value="" required="" placeholder="0.0"
                   step="0.01" min="0" max="100000000" ng-model="filter.max_price">
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Применить фильтр</button>
        </div>
    </form>

    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <td>ID</td>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Добавить в корзину</td>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ProductsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="addToCart(p.id)">в корзину</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>